@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(198,206,201,0.5);
  font-size: 16px;
}

.blog-card {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2),
              -1px -1px 10px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: 2vh;
}

.header {
  background-color: #ffb74d;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.category {
  margin: 0;
  padding: 1vw;
  color: #fff;
  font-size: 1em;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-transform: uppercase;
}

.picture-wrapper {
  height: 30vh;
  width: 100%;
  background-image: url('https://cdn.glitch.com/27911338-ce21-4c5e-8227-daa298f2e3ec%2Fimg-NewYork.jfif?v=1585716850001');
  background-size: cover;
}

.text-wrapper {
  font-family: sans-serif;
}

.title {
  font-size: 1.25em;
  padding: 6vh 4vh 2vh 4vh;
}

.author {
  font-size: 0.75em;
  padding-left: 4vh;
  font-style: italic;
}

.text {
  font-size: 1em;
  padding: 4vh 4vh;
}

.hover {
  font-size: 1.5625em;
}

.blog {
    text-decoration: none;
    color: #212529;
}
@media screen and (min-width: 700px) {
  .blog-card {
    width: 600px;
  }

  .content {
    display: flex;
    flex-direction: row;
  }
    
  .picture-wrapper {
    height: auto;
    width: 60%;
    border-bottom-left-radius: 10px;
  }

  .title {
    padding-right: 10vh;
  }
}